<text:alphabetical-index text:style-name="Sect1" text:protected="true" text:name="alphabetical-index">
    <text:alphabetical-index-source text:alphabetical-separators="true" text:sort-algorithm="alphanumeric" fo:language="en" fo:country="US">
        <text:index-title-template text:style-name="adoc index_heading"/>
        <text:alphabetical-index-entry-template text:outline-level="separator" text:style-name="adoc index_separator">
            <text:index-entry-text/>
        </text:alphabetical-index-entry-template>
        <text:alphabetical-index-entry-template text:outline-level="1" text:style-name="adoc index_1">
            <text:index-entry-text/>
            <text:index-entry-span>, </text:index-entry-span>
            <text:index-entry-page-number text:style-name="adoc alphabetical_index_pagenum"/>
        </text:alphabetical-index-entry-template>
        <text:alphabetical-index-entry-template text:outline-level="2" text:style-name="adoc index_2">
            <text:index-entry-text/>
            <text:index-entry-span>, </text:index-entry-span>
            <text:index-entry-page-number text:style-name="adoc alphabetical_index_pagenum"/>
        </text:alphabetical-index-entry-template>
        <text:alphabetical-index-entry-template text:outline-level="3" text:style-name="adoc index_3">
            <text:index-entry-text/>
            <text:index-entry-span>, </text:index-entry-span>
            <text:index-entry-page-number text:style-name="adoc alphabetical_index_pagenum"/>
        </text:alphabetical-index-entry-template>
    </text:alphabetical-index-source>
    <text:index-body>
    </text:index-body>
</text:alphabetical-index>
