- sectnumlevels = @document.attributes["sectnumlevels"] || 3
- unless sections.empty?
  - toclevels ||= (document.attr 'toclevels', 3).to_i
  - slevel = section_level sections.first
  - sections.each do |sec|
    - keep_with_next = (sec.sections.empty? || sec.level >= toclevels) ? "" : "keep_with_next"
    table:table table:style-name="adoc_t no_margin_bottom #{keep_with_next}"
      table:table-column table:style-name="adoc_tocc sec_title"
      table:table-column table:style-name="adoc_tocc sec_pn"
      table:table-row table:style-name="adoc_tr row_keep_together"
        table:table-cell table:style-name="adoc_tocce sec_title"
          text:p text:style-name="adoc_tocp sec_title slevel_#{slevel}"
            text:a xlink:type="simple" xlink:href="##{sec.id}" text:style-name="adoc_a toc_entry"
              |#{(sec.numbered  && slevel <= sectnumlevels) ? sec.sectnum : ""} #{sec.title}
              text:span text:style-name = "adoc_tociq dots_space_dots_title"
                ="&#160;"
              text:span text:style-name = "adoc_tociq dots_title"
                text:tab
        table:table-cell table:style-name="adoc_tocce sec_pn"
          text:p text:style-name="adoc_tocp sec_pn slevel_#{slevel}"
            text:a xlink:type="simple" xlink:href="##{sec.id}" text:style-name="adoc_a toc_entry"
              text:span text:style-name = "adoc_tociq dots_page_number"
                text:tab
              text:span text:style-name = "adoc_tociq dots_space_page_number"
                ="&#160;"
              text:bookmark-ref text:reference-format="page" text:ref-name="#{sec.id}"
                ="0"
    - if (sec.level < toclevels) && (child_toc = converter.convert sec, 'outline')
      =child_toc
